body { font-family : 'Open Sans' , без засечек; font-size : 15 пикселей }
a { -webkit-transition : все .2 с легкостью; -moz-transition : все .2 с легкостью; -ms-переход : все .2 сек легкость; -о-переход : все .2 с легкостью; переход : все .2 с легкостью}
a : hover , a : focus { -webkit-transition : все .2 с легкостью; -moz-transition : все .2 с легкостью; -ms-переход : все .2 сек легкость; -о-переход : все .2 с легкостью; переход : все .2 с легкостью}
# боковая панель { ширина : 170 пикселей ; фон : # 2c343f ; выравнивание текста : центр}
# боковая панель . логотип { фон : # 3c434d ; отступ : 10 пикселей  5 пикселей  8 пикселей ; box-sizing : border-box}
# боковая панель . логотип  img , # боковая панель . логотип  svg { ширина : 70 пикселей ; высота : 70 пикселей }
# боковая панель . логотип . заголовок { размер шрифта : 20 пикселей ; цвет : # fff ; margin-top : 7 пикселей }
# боковая панель  ul { text-align : left}
# sidebar  ul  li { padding : 2 px  10 px }
# sidebar  ul  li : hover { background : # 232a32 }
# боковая панель  ul  li . uk-active  a { color : # fff }
# боковая панель  ul  a { color : rgba ( 255 , 255 , 255 , 0.59 ); дисплей : блок; размер шрифта : 13 пикселей ; высота строки : 20 пикселей ; маржа : 0 }
# боковая панель . социальные сети { border : 1 px solid # 3c434d ; граница слева : нет; граница справа : нет; поле : 25 пикселей  0 ; отступ : 15 пикселей  5 пикселей  17 пикселей }
@media ( max-width : 1200 пикселей ) {
# sidebar { width : 160 пикселей }
# боковая панель . логотип . заголовок { font-size : 17 пикселей }
# боковая панель  ul  a { размер шрифта : 12 пикселей ; line-height : 18 пикселей }
}
@media ( max-width : 959 пикселей ) {
# sidebar { width : 110 пикселей }
# боковая панель . логотип . заголовок { font-size : 14 px }
# sidebar  p { font-size : 12 пикселей }
}
. основной контейнер { margin-left : 170 пикселей ; фон : # f5f5f5 }
. основной контейнер . uk-card-body { padding : 15 пикселей  280 пикселей  15 пикселей  15 пикселей }
. основной контейнер . логотип  img { width : 50 px }
@media ( max-width : 1600 пикселей ) {
. основной контейнер . uk-card-body { padding-right : 290 пикселей }
}
@media ( max-width : 1440 пикселей ) {
. основной контейнер > . main > * { padding : 0  25 пикселей }
}
@media ( max-width : 1200 пикселей ) {
. основной контейнер { margin-left : 160 пикселей }
. основной контейнер > . main > * { padding : 0  15 пикселей }
}
@media ( max-width : 959 пикселей ) {
. основной контейнер { margin-left : 110 пикселей }
. основной контейнер . uk-card-body { padding : 10 пикселей }
}
@media ( max-width : 639 пикселей ) {
. основной контейнер { margin-left : 0 }
}
. рецепт { font-size : 15 пикселей ;}
. рецепт > . uk-dropdown { min-width : 360 пикселей }
. рецепт . affix { позиция : абсолютная; верх : 26 пикселей ; справа : 16 пикселей ; цвет : # 333 }
. рецепт . uk-button-empty { радиус границы : 7 пикселей ; переполнение : скрыто; box-shadow : 0  3 пикселей  7 пикселей  rgba ( 0 , 0 , 0 , .16 )}
. рецепт . uk-button-empty  img { максимальная ширина : 64 пикс. }
. рецепт  п { маржа : 0 }
. телепорт  h3 { max-width : 360 пикселей ; отступ справа : 20 пикселей ; line-height : 25 пикселей }
. телепорт . uk-dropdown { min-width : 250 пикселей ; отступ : 16 пикселей }
@media ( max-width : 1600 пикселей ) {
. рецепт . uk-button-empty  img { max-width : 54 пикс. }
}
@media ( max-width : 1440 пикселей ) {
. рецепт . uk-button-empty  img { максимальная ширина : 52 пикс. }
}
@media ( max-width : 959 пикселей ) {
. рецепт { font-size : 13 px }
. рецепт > . uk-dropdown { min-width : 200 пикселей ; отступ : 15 пикселей }
. рецепт . uk-button-empty  img { max-width : 42 пикс. }
. рецепт . прикрепить { top : 19 px }
. телепорт  h3 { font-size : 20 px }
}
. uk-card-header { граница : нет ! важно }
. uk-card-header  h2 { цвет : # 595959 ; размер шрифта : 16 пикселей ; font-weight : жирный; text-transform : uppercase}
. uk-card-body { фон : # f9f9f9 ; размер шрифта : 0 ; border-top : сплошной 1 пиксель # eee }
нижний колонтитул { фон : # fff ; отступ : 10 пикселей  0 ; размер шрифта : 12 пикселей ; границы сверху : 1 точек твердого # e9e9e9 }
h1 { font-size : 34 px }
h2 { font-size : 26 пикселей }
. uk-text- dangerous { цвет : # e72b2b ! important }
. uk-text-success { color : # 22b822 ! important }
. uk-уведомление { ширина : 330 пикселей ; z-индекс : 666 }
. uk-уведомление  h3 { размер шрифта : 20 пикселей ; margin-bottom : 10 пикселей }
. uk-notification  img { max-width : 45 пикселей }
. uk-уведомление-первичное сообщение { фон : # d9ecd5 ; коробка-тень : 0  4 точек  5 точек -3px RGBA ( 0 , 0 , 0 , 0,43 )}
@media ( max-width : 959 пикселей ) {
. uk-уведомление { min-width : 200 пикселей ; width : auto}
}
. uk-button-empty : hover { background : # e3e3e3 }
. uk-button-empty  span { максимальная ширина : 130 пикселей ; отступ : 10 пикселей ; размер коробки : рамка-рамка; дисплей : встроенный блок; высота строки : 18 пикселей ; выравнивание текста : слева; вертикальное выравнивание : средний}
. uk-tooltip-inner : first-letter { text-transform : capitalize}
. uk-lightbox { background : rgba ( 0 , 0 , 0 , .7 )}
. что-то { ширина : 100 % ; высота : 10 пикселей ; фон : # 2c343f ; дисплей : блок; line-height : 10 пикселей }
. что-то : hover { фон : # 505b6b ; text-decoration : none}
